/*--
    Common Css
--*/
.titled {
  margin-left: auto;
  margin-right: auto;
  font-style: bold;
}
.yeet {
  font-family: "Reem Kufi", "sans-serif";
  text-transform: lowercase;
}
.subtitle a {
  margin-left:1.8%;
  margin-right:1%;
  margin-top:2%;
  font-family: "Reem Kufi", "sans-serif";
  text-transform: lowercase;
  color: black;
}
.subtitle a:link {
  text-decoration: none;
  color:black;
}

.subtitle a:visited {
  text-decoration: none;
  color:black;
}

.subtitle a:hover {
  color:rgb(45, 150, 230);
  text-decoration: none;
}

.subtitle a:active {
  color:rgb(45, 150, 230);
  text-decoration: none;
}
@keyframes ball {
  0%{top:0px;}
  25%{top:10px;}
  50%{top:-10px;}
  75%{top:-10px;}
  90%{top:10px;}
  100%{top:0px;}
}
@keyframes bcolor {
  0%{
    box-shadow: inset 0px 0px 0px rgba(130, 201, 255, 0.5);
  }
  25%{
    box-shadow: inset 0px 0px 5px rgba(170, 255, 255, 0.5);
  }
  50%{
    box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.5);
  }
  75%{
    box-shadow: inset 0px 0px 5px rgba(170, 255, 255, 0.5);
  }
  100%{
    box-shadow: inset 0px 0px 0px rgba(130, 201, 255, 0.5);
  }
}
.ball1 {
  animation-delay: 0.0s;
  animation-name: ball, bcolor;
  position: relative;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(45, 150, 230);
}
.ball2 {
  animation-delay: 0.21s;
  animation-name: ball, bcolor;
  position: relative;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(45, 150, 230);
}
.ball3 {
  animation-delay: 0.42s;
  animation-name: ball, bcolor;
  position: relative;
  animation-duration: 1.35s;
  animation-iteration-count: infinite;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(45, 150, 230);
}
.navbar navbar-expand-lg .navbar-light bg-white fixed-top {
  background-color: rgb(54,57,63);
  background-image: url(../images/ahyes.png);
}
.btn-main-sm {
  font-family: "Reem Kufi", "sans-serif";
  font-style: italic;
  text-transform: lowercase;
  padding: 12px 35px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: rgb(0, 0, 0);
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 255, 255);
}
@keyframes memes {
  0%{right:-1000px;top:0px;}
  100%{right:0px;top:0px;}
}
.meme h1 {
  animation-name: memes;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 1;

}
p {
  color: rgb(0, 0, 0);
  font-family: "Libre Franklin", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px;
}
h1,
.h1 {
  font-size: 44px;
  line-height: 56px;
  font-family: "Reem Kufi", sans-serif;
  text-transform: lowercase;
   -webkit-font-smoothing: antialiased;
}
@keyframes example {
  0%{left:0px;right:0px;}
  25%{left:200px;right:0px;transform:rotateY(85deg);}
  50%{left:0px;right:200px;transform:rotateX(85deg);}
  75%{left:200px;right:0px;transform:rotateY(-180deg);transform: scale(2, 2);}
  100%{left:0px;right:200px;transform:rotateZ(180deg);transform: scale(1, 1);transform: rotate(180deg);transform:rotateX(-360deg);transform:rotateY(180deg);}
}

html, yes {
  height: 100%;
}

yes {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
@keyframes epic {
    0%{color:white;}
    68%{color:white;}
  150%{color:rgb(0, 0, 0);}
}
.bruh {
  animation-name: epic;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
.yomam img {
  color:rgb(61,61,61);
  border-style: solid;
  border-width: 15px;
  border: black;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 12px rgb(62, 71, 59);
  margin-left: 40%;
  margin-top: 8.5%;
  margin-right: 20%;
  border-radius: 50%;
  position: relative;
  background-color: rgb(45, 150, 230);
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  
}
@keyframes yomambro {
  0%{left:0px;top:50px;}
  25%{left:0px;top:-50px;}
  50%{left:0px;top:50px;}
  75%{left:0px;top:-50px;}
  100%{left:0px;top:50px;}
}
.yomambro img {
  color:rgb(0, 0, 0);
  border-style: solid;
  border-width: 15px;
  border: black;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 12px rgb(0, 0, 0);
  margin-left: 38%;
  margin-top: 8.5%;
  margin-right: 20%;
  border-radius: 50%;
  position: relative;
  animation-name: yomambro;
  animation-duration: 6.75s;
  animation-iteration-count: infinite;
  
}
h2,
.h2 {
  font-size: 30px;
  line-height: 35px;
  scale: inherit;
  font-family: "Reem Kufi", sans-serif;
  font: 10;
  font-display: bold;
  text-transform: lowercase;
}

h3,
.h3 {
  font-size: 23px;
  line-height: 25px;
    font-family: "Michroma", sans-serif;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
    font-family: "Poppins", sans-serif;

}

p {
  font-size: 18px;
  line-height: 25px;
  color: rgb(61, 61, 61);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  font-family: "Poppins", sans-serif;
  transition: all 0.35s ease-in-out .15s;
}

.mt-100 {
  margin-top: 100px;
}
.bg-1 {
  background-image: url(../images/ahyes.png);
}
.bg-2 {
  background-image: url(../images/call-to-action.jpg);
}

.bg-orange {
  background: rgb(45, 150, 230);
}

.bg-opacity {
  position: relative;
}

.bg-opacity:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
yessir {
  margin-left:2%;
}
a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  padding: 100px 0;
}

.font-size-60 {
  font-size: 60px;
  line-height: 1.2;
}

@media (max-width: 575px) {
  .font-size-60 {
    font-size: 40px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}
.heading {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-bottom: 70px;
}

.heading h2 {
  color: rgb(0, 0, 0);
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.heading p {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
}

.subheading {
  color: rgb(0, 0, 0);
  padding-bottom: 15px;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}
.difcl {
  align-self: center;
}
.btn {
  border-radius: 0;
}
.btn-main {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: rgb(45, 150, 230);
  box-shadow: 0 15px 40px rgba(57, 85, 138, 0.5);
  background-image: absolute-gradient(bottom, rgba(53, 62, 99, 0.5) 5%, rgba(255, 239, 206, 0.25) 100%);
  margin: 0%;
}
.btn-secondary {
  color: rgb(255, 255, 255);
  background-blend-mode: 10;
  border-radius: 30px;
  width: 150px;
  height: auto;
  font-size: 18px;
  padding: 15px 40px;
  border:0px;
  display: grid;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 15px 40px rgba(94, 94, 94, 0.5);
  background-image: absolute-gradient(bottom, rgba(36, 36, 36, 0.5) 5%, rgba(0, 0, 0, 0.25) 100%);
  font-family: "Reem Kufi", "sans-serif";
  text-transform: lowercase;
  font-style: italic;
  font-weight: bold;
  margin: 2.5%;
  text-align: auto;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}
.p btn-secondary {
  text-align: auto;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}
@keyframes opacty {
  0%{opacity: 1;}
  100%{opacity: .25;}
}
@keyframes opactyrev {
  0%{opacity: .25;}
  100%{opacity: 1;}
}
.btn-secondary img {
  color: rgb(255, 255, 255);
  border-radius: 50px;
  margin-bottom: 3%;
  animation-name: opactyrev;
  position: relative;
  animation-iteration-count: 1;
  animation-duration: .5s;
  opacity: 1;
}
.btn-secondary img:hover, .btn-secondary img:focus {
  animation-name: opacty;
  position: relative;
  animation-iteration-count: 1;
  animation-duration: .5s;
  opacity: 0.25;
}
.imagepoop {
  align-content: center;
 margin-left:auto;
 margin-right:auto;
 margin-bottom: 20px;
}
.btn-main:hover, .btn-main:focus {
  background-color: #ffffff;
  color: rgb(45, 150, 230);
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/*Preloader*/
#preloader-wrapper {
  background-color: #fff;
  bottom: auto;
  height: 100%;
  left: auto;
  position: fixed;
  right: auto;
  top: auto;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-loader {
  width: 130px;
  height: 130px;
  background: rgb(45, 150, 230);
  border-radius: 50%;
  animation: loading 3.5s infinite;
  position: relative;
  font-family: "themefisher-font" !important;
}

.pre-loader:before {
  content: "\f3bd";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-size: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}



/* navigation */
.navbar-brand {
  font-size: 30px;
  text-align: center;
  font-family: "Reem Kufi";
  font-style: lowercase;
  line-height: 1;
}
.navbar-brand-hover {
  font-size: 30px;
  text-align: center;
  font-family: "Reem Kufi";
  line-height: 1;
}
.nav-link {
  font-size: 18.5px;
  font-style: lowercase;
  font-display: lowercase;
  font-weight: bold;
  font-family: "Reem Kufi";
  background-color: rgb(255, 255, 255)
}
.heading {
  font-family: "Reem Kufi";
  background-color: rgb(255, 255, 255)
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-family: "Reem Kufi";
  text-transform: lowercase;
}
